*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html{
  font-size: 62.5%;
}
body{
  background-color: rgb(202, 171, 231);
}
h1{
  font-size: 3.5rem;
  margin:2rem 0;
  text-align: center;
  font-family: sans-serif;
}
h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  opacity: 0.8;
}
a{
  text-decoration: none;
}
p{
  margin: 2rem 0;
  color: rgba(21, 19,60, 0.5);
  font-weight: 400;
  font-size: 1.6rem;
  display: inline-block;
}
span{
  text-transform: capitalize;
  font-weight: bold;
}
.stories-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
.card {
  min-width:20rem;
  width: 40vw;
  padding: 2rem;
  background-color: #ffff;
  box-shadow: 2px 3px 4px 4px grey ;
  border-radius: 0.5rem;
  color:#15133c;
}
.card-button{
  flex-direction: row;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.card-button a {
  color: #92b4ec;
  font-weight: 400;
  font-size: 1.6rem;
}
.card-button a:last-child {
  color: coral;
}
form{
  display: grid;
  place-items: center;
}
input{
  padding:0.6rem;
  min-width: 40rem;
  font-size: 2rem;
  font-weight: 590;
}
.pagination-btn{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
padding:0.8rem 2.2rem;
border:none;
font-size: 1.6rem;
background-color: #15133c;
color: #fff;
margin: 2rem;
cursor: pointer;
display: inline-block;
}
/* //  responsive layout===== */
@media(max-width: 998px) {
  html{
    font-size: 80%;
  }
  .card {
    min-width:45rem;
    padding:2.5rem;
  }
}

@media(max-width: 768px) {
  html{
    font-size: 51%;
  }
  .card{
 min-width: 35rem;
 padding: 2rem;
  }
}
@media (max-width:2004px) {
  .card{
    padding: 3rem;
  }
  /* html{
    font-size: 80%;
  } */
}